params {
    // Minimum mapping quality threshold
    MAPPING_QUALITY = 40

    // Minimum base quality threshold
    BASE_QUALITY = 20

    // Minimumin depth to consider for mpileup. Set to 1 for sWGS samples.
    MPILEUP_MINIMUM_DEPTH = 2

    // Set how many bases either side of the target base to assess for background error rate.
    SLOP_BASES = 10

    // Whether to remove duplicates in pile ups.
    REMOVE_DUPLICATES = true

    // Omit data points with uncharacteristially high unique depth given the input mass used
    MAXIMUM_DEPTH = 1500

    // Minimum depth is set by mpileups as 5, here we require at least 5 ref reads at a locus, set to 0 for sWGS
    MINIMUM_REFERENCE_DEPTH = 5

    // Excludes data points due to poor MQ and SB, but locus is retained
    MQSB_THRESHOLD = 0.01

    // Blacklist loci with >= ALT_ALLELES_THRESHOLD separate alternate alleles.
    ALT_ALLELES_THRESHOLD = 3

    // Blacklist multiallelic loci with a mutant read count of >= MINOR_ALT_ALLELE_THRESHOLD in the minor mutant allele.
    MINOR_ALT_ALLELE_THRESHOLD = 2

    // Loci with > COSMIC_THRESHOLD entries in COSMIC are considered as COSMIC mutations
    COSMIC_THRESHOLD = 0

    // Blacklist loci that have signal in > PROPORTION_OF_CONTROLS of the nonptspec samples
    PROPORTION_OF_CONTROLS = 0.1

    // Filter loci with a background allele frequency in controls greater than this value
    MAXIMUM_BACKGROUND_MEAN_ALLELE_FREQUENCY = 0.01

    // Maximum allele frequency value for acceptable samples.
    ALLELE_FREQUENCY_THRESHOLD = 0.01

    // Maximum number of reads acceptable for outlier suppression trying to detect MRD.
    MAXIMUM_MUTANT_READS = 100

    // The minimum number of reads per sample, below which a sample is deemed to have
    // too few reads to be included in the cohort.
    MINIMUM_INFORMATIVE_READS = 20000

    // Only change to true if you are running blood spot data through the pipeline.
    // This omits outlier-suppression on samples with deduplicated depth of <5x because
    // high AF loci cannot be reliably identified with low depth
    IS_BLOODSPOT = false

    // Outlier suppression threshold.
    OUTLIER_SUPPRESSION_THRESHOLD = 0.05

    // Minimum fragment length.
    MINIMUM_FRAGMENT_LENGTH = 60

    // Maximum fragment length.
    MAXIMUM_FRAGMENT_LENGTH = 300

    // Smoothing function for size profile - width of smoothing.
    SMOOTHING = 0.25

    // Only weigh ctDNA signal based on mutant fragments.
    ONLY_WEIGH_MUTANTS = true

    // Score specificity for ROC plot.
    SCORE_SPECIFICITY = 0.95

    // Number of iterations when subsampling the wild-type reads (control samples) to determine a range of INVAR scores
    ITERATIONS = 10

    /**
     * Project structure.
     */

    // This is a Unix/Windows style path, so separate directories with ':' for Unix
    // and ';' for Windows.
    BAM_PATH = "${launchDir}/bam"

    /**
     * Results collation.
     */

    RESULTS_DIR = "${launchDir}/results"

    ANALYSIS_DIR = "${launchDir}/analysis"

    /**
     * Character set encoding for the input files.
     */

    TUMOUR_MUTATIONS_CSV_ENCODING = 'ASCII'

    LAYOUT_TABLE_ENCODING = 'UTF-8'

    /**
     * Structural pipeline configuration.
     */

    // The top level pipeline installation directory. Normally the same as "projectDir",
    // but to aid the running of the testing part of this pipeline it can be overridden.
    // Don't redefine this in normal use.

    projectHome = projectDir
}



manifest {
    mainScript = 'invar.nf'
    nextflowVersion = '>=20.0.0'
    version = '2.0.0'
}

executor {
    $slurm {
        queueSize = 150
        pollInterval = '30sec'
        clusterOptions = "--nodes=1 --open-mode=truncate"
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "-B '${projectDir}'"

process {
    container = 'nrlabcruk/invar2'

    errorStrategy = {
        task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish'
    }

    cpus = 1
    memory = '1g'
    time = '1h'
}

profiles {
    standard {
        // The default is, on request, the same as the "general" profile.
        params.MAX_CORES = 16
        process.executor = 'slurm'
        process.queue = 'general'
    }

    slurm {
        // Old name for the "general" profile.
        params.MAX_CORES = 16
        process.executor = 'slurm'
        process.queue = 'general'
    }

    general {
        params.MAX_CORES = 16
        process.executor = 'slurm'
        process.queue = 'general'
    }

    epyc {
        params.MAX_CORES = 16
        process.executor = 'slurm'
        process.queue = 'epyc'
    }

    desktop {
        params.MAX_CORES = 6
        process.executor = 'local'
        executor.$local.cpus = params.MAX_CORES
        executor.$local.memory = '20g'
    }

    bigserver {
        params.MAX_CORES = 28
        process.executor = 'local'
        executor.$local.cpus = params.MAX_CORES
        executor.$local.memory = '180g'
    }
}

env {
    INVAR_HOME = projectDir
}

timeline {
    enabled = true
    overwrite = true
    file = "work/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "work/execution_report.html"
}
