params {
    LAYOUT_TABLE="${projectDir}/testing/source_files/combined.SLX_table_with_controls_031220.csv"
    TUMOUR_MUTATIONS_CSV="${projectDir}/testing/source_files/PARADIGM_mutation_list_full_cohort_hg19.csv"

    ERROR_SUPPRESSION_NAME = "f0.9_s2"
    MAPQ = 40
    BASEQ = 20
    max_depth = 2000
    min_ref_depth = 10
    individual_MQSB_threshold = 0.01
    n_alt_alleles_threshold = 3
    minor_alt_allele_threshold = 2
    cosmic_threshold = 0
}

process.container = "${projectDir}/container/invar.sif"

singularity.runOptions = ""
