params {
    LAYOUT_TABLE="${projectDir}/testing/source_files/combined.SLX_table_with_controls_031220.csv"
    TUMOUR_MUTATIONS_CSV="${projectDir}/testing/source_files/PARADIGM_mutation_list_full_cohort_hg19.csv"

    MAPQ = 40
    BASEQ = 20
    max_DP = 2000
    min_ref_DP = 10
    
    RESOURCES_DIR = "${projectDir}/testing/invar_reference"
    FASTAREF="${RESOURCES_DIR}/ucsc.hg19.fasta"
    HG19_GENOME="${RESOURCES_DIR}/hg19.genome"
    K1G_DB="${RESOURCES_DIR}/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.20130502.sites.vcf.gz"
    COSMIC_DB="${RESOURCES_DIR}/CosmicCodingMuts.vcf.gz"
}

process.container = "${projectDir}/container/invar.sif"

singularity.runOptions = "-B '${params.RESOURCES_DIR}' "
