includeConfig '../nextflow.config'

params {
    STUDY_ID = 'PARADIGM'

    LAYOUT_TABLE="${projectDir}/testdata/source_files/combined.SLX_table_with_controls_031220.csv"
    TUMOUR_MUTATIONS_CSV="${projectDir}/testdata/source_files/PARADIGM_mutation_list_full_cohort_hg19.csv"

    ERROR_SUPPRESSION_NAME = 'f0.9_s2'
    MAPPING_QUALITY = 40
    BASE_QUALITY = 20
    MAXIMUM_DEPTH = 2000
    MINIMUM_REFERENCE_DEPTH = 10
    MQSB_THRESHOLD = 0.01
    ALT_ALLELES_THRESHOLD = 3
    MINOR_ALT_ALLELE_THRESHOLD = 2
    COSMIC_THRESHOLD = 0

    SAMPLING_SEED = 1024

    projectHome = projectDir.parent
}

process.container = "${params.projectHome}/container/invar.sif"

singularity.runOptions = "-B ${projectDir.parent}"

env {
    INVAR_HOME = params.projectHome
}
