params {
    STUDY_ID = "PARADIGM"

    // unique identifier for CONNOR setting; f = consensus threshold, s = family size
    ERROR_SUPPRESSION_NAME = "f0.9_s2"

    LAYOUT_TABLE = "${launchDir}/bed/combined.SLX_table_with_controls_031220.csv"

    TUMOUR_MUTATIONS_CSV = "/mnt/scratcha/nrlab/zhao02/Projects/PARADIGM/MutaitonList/PARADIGM_mutation_list_full_cohort_hg19.csv"

    FASTA_REFERENCE = "/mnt/scratchb/nrlab/resources/ftp.broadinstitute.org/bundle/hg19/ucsc.hg19.fasta"

    HG19_GENOME = "/mnt/scratchb/nrlab/resources/bedtools_hg19/hg19.genome"

    THOUSAND_GENOMES_DATABASE = "/mnt/scratcha/nrlab/resources/1000genomes/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.20130502.sites.vcf.gz"

    COSMIC_DATABASE = "/mnt/scratcha/nrlab/resources/COSMIC/v82/CosmicCodingMuts.vcf.gz"

    MAXIMUM_DEPTH = 2000

    MINIMUM_REFERENCE_DEPTH = 10
}

process.container = "${projectDir}/container/invar.sif"
